<div ui-view></div>

<h2>All Tests</h2>
<ul>
  <li>
    <a ui-sref="collection.read">collectionRead</a>
  </li>
  <li>
    <a ui-sref="collection.list">collectionList
    </a>
  </li>
  <li>
    <a ui-sref="collection.add">collectionAdd
    </a>
  </li>
  <li>
    <a ui-sref="collection.replace">collectionReplace
    </a>
  </li>
  <li>
    <a ui-sref="collection.update">collectionUpdate
    </a>
  </li>


  <li>
    <a ui-sref="document.read({id: 'i1'})">documentRead
    </a>
  </li>
  <!--<li>-->
    <!--<a ui-sref="document.update({id: 'i1'})">documentUpdate-->
    <!--</a>-->
  <!--</li>-->

  <li>
    <a ui-sref="document.replace({id: 'i1'})">documentReplace
    </a>
  </li>

  <li>
    <a ui-sref="document.delete({id: 'i1'})">documentDelete
    </a>
  </li>


</ul>
