<div ui-view></div>

<h2>All Tests</h2>
<ul>
  <li>
    <a ui-sref="e2e.collectionRead">collectionRead</a>
  </li>
  <li>
    <a ui-sref="e2e.collectionList">collectionList
    </a>
  </li>
  <li>
    <a ui-sref="e2e.collectionAdd">collectionAdd
    </a>
  </li>
  <li>
    <a ui-sref="e2e.collection">collectionReplace
    </a>
  </li>
  <li>
    <a ui-sref="e2e.collection">collectionUpdate
    </a>
  </li>


  <li>
    <a ui-sref="e2e.documentRead">documentRead
    </a>
  </li>
  <li>
    <a ui-sref="e2e.documentUpdate">documentUpdate
    </a>
  </li>

  <li>
    <a ui-sref="e2e.documentReplace">documentReplace
    </a>
  </li>

  <li>
    <a ui-sref="e2e.documentDelete">documentDelete
    </a>
  </li>


</ul>
