<div ui-view></div>

<h2>All Tests</h2>
<ul>
  <li>
    <a ui-sref="demotypes.read">resourceTypesRead</a>
  </li>
</ul>
<ul>
  <li>
    <a ui-sref="collection.read({typeId: 'invoices'})">collectionRead</a>
  </li>
  <li>
    <a ui-sref="collection.list({typeId: 'invoices'})">collectionList
    </a>
  </li>
  <li>
    <a ui-sref="collection.add({typeId: 'invoices'})">collectionAdd
    </a>
  </li>
  <li>
    <a ui-sref="collection.replace({typeId: 'invoices'})">collectionReplace
    </a>
  </li>
  <li>
    <a ui-sref="collection.update({typeId: 'invoices'})">collectionUpdate
    </a>
  </li>


  <li>
    <a ui-sref="document.read({id: 'i1'})">documentRead
    </a>
  </li>
  <li>
    <a ui-sref="document.update({id: 'i1'})">documentUpdate
    </a>
  </li>
  <li>
    <a ui-sref="document.replace({id: 'i1'})">documentReplace
    </a>
  </li>

  <li>
    <a ui-sref="document.delete({id: 'i1'})">documentDelete
    </a>
  </li>


</ul>
