<button class="btn btn-xs btn-default pull-right"
        ng-click="ctrl.isCollapsed = !ctrl.isCollapsed"
    >
            <span class="glyphicon glyphicon-chevron-left"
                  ng-if="ctrl.isCollapsed"></span>
            <span class="glyphicon glyphicon-chevron-down"
                  ng-if="!ctrl.isCollapsed"></span>
</button>
<span class="list-group-item-heading"
      ng-bind="ctrl.section.label">Section Heading</span>

<div class="list-group" collapse="ctrl.isCollapsed"
     style="margin-top: 1em; margin-bottom: 0">
    <a class="list-group-item"
        ng-repeat="ss in ::ctrl.section.subsections"
       ui-sref="{{ ss.state }}"
       ng-bind="ss.label">
      Subsection Label
    </a>
</div>
