<div>
  <h5 class="text-muted"
      ng-if="ctrl.menuitem.label"
      ng-bind="ctrl.menuitem.label">Menu Title</h5>
  <ul class="list-group">
    <li class="list-group-item"
        ng-repeat="(id, menuitem) in ctrl.menuitem.items | mdOrderObjectBy: 'priority'">
      <a
          ng-if="!menuitem.items"
          ng-bind="menuitem.label"
          ui-sref="{{ ctrl.sref(menuitem) }}">
        Menu Item </a>
      <md-navsubmenu ng-model="menuitem"
                     ng-if="menuitem.items"></md-navsubmenu>
    </li>
  </ul>
</div>